html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif!important;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: #28323C!important;
    text-decoration: none!important;
}


/* HEADER */

header {
    background-color: #28323C;
    padding: 0 2%!important;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.logo,
.logo svg {
    height: 1.8rem;
    width: auto;
}

.exit img {
    height: 2.6rem;
}

.exit {
    width: fit-content;
    width: fit-content;
}


/* main */

main {
    height: 100%;
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-weight: bold!important;
    width: 100%;
    color: #28323C;
    margin-top: 0.5%!important;
}

.container-lg {
    height: 100%;
}


/* FOOTER */

footer {
    background-color: #28323C;
    height: 2%;
    flex-grow: 1;
    padding: 0 2%!important;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    color: white;
}

footer p {
    margin: 0!important;
    align-self: center;
    font-size: 0.8rem;
}